<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
       <!-- <source src="gym-video.mp4" type="video/mp4" /> --> <!-- Ne radi, treba da se postavi video da ide u pozadini -->
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Preokreni namere i planove u akciju</h6>
            <h2>Tu za vas <em>Gde god da ste</em></h2>
            <div class="main-button scroll-to-section">
                <a [routerLink]="['/login']">Postani član</a>
            </div>

        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->