<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="{{myLink}}" type="video/mp4" /> <!-- Ne radi, treba da se postavi video da ide u pozadini -->
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Samo jako</h6>
            <h2>Tu za vas <em>Gde god da ste</em></h2>
            <div class="main-button scroll-to-section">
                <a [routerLink]="['/login']">Postani član</a>
            </div>

            <div class="main-button scroll-to-section">
                <a [routerLink]="['/paket_1']">paket1</a>
            </div>

            <div class="main-button scroll-to-section">
                <a [routerLink]="['/paket_2']">paket2</a>
            </div>

            <div class="main-button scroll-to-section">
                <a [routerLink]="['/paket_3']">paket3</a>
            </div>

            <div class="main-button scroll-to-section">
                <a [routerLink]="['/paket_1_30']">paket1 30</a>
            </div>

            <div class="main-button scroll-to-section">
                <a [routerLink]="['/paket_2_30']">paket2 30</a>
            </div>

            <div class="main-button scroll-to-section">
                <a [routerLink]="['/paket_3_30']">paket3 30</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->