<!-- ***** Header Area ***** -->
<header class="header-area header-sticky pozicioniran">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">sistem<em> Teretana</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start - da li napraviti da svaki korisnik ima svoju listu? ***** -->
                    <ul class="nav">
                        <!-- Da li ostaviti ovo ? Selena pita
                            <li class="scroll-to-section"><a href="#top" class="active">Početna</a></li> pocetna
                        -->
                        <!-- Niko nije ulogovan -->
                        <li class="scroll-to-section" *ngIf="!jeUlogovan()"><a href="#features">Programi</a></li>          <!-- programi -->
                        <li class="scroll-to-section" *ngIf="!jeUlogovan()"><a href="#contact-us">Info</a></li>            <!-- info -->

                        <!-- Administrator-->
                        <li class="scroll-to-section" *ngIf="jeUlogovanAdministrator()"><a href="#administracija">Administracija</a></li> <!-- administracija -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanAdministrator()"><a href="#licenca">Licence</a></li> <!-- licenca -->

                        <!-- Klijent-->
                        <li class="scroll-to-section" *ngIf="jeUlogovanKlijent()" > <a href="#features">Paketi</a>     </li> <!-- programi -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanKlijent()" > <a href="#treninzi">Treninzi</a>     </li> <!-- treninzi -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanKlijent()"><a href="#licenca">Licence</a></li> <!-- licenca -->

                        <!-- Trener -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanTrener()" >    <a href="#schedule">Raspored</a>     </li> <!-- raspored -->

                        <li class="scroll-to-section" *ngIf="jeUlogovanAdministrator() || jeUlogovanKlijent()"><a href="#licence">Licence</a></li> <!-- licence -->

                        <!-- Recepcioner -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanRecepcioner()" > <a href="#treninzi">Treninzi</a> </li>      <!-- treninzi -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanRecepcioner()"><a href="#licenca">Licence</a></li>           <!-- licenca -->
                        <li class="scroll-to-section" *ngIf="jeUlogovanRecepcioner()"><a href="#evidencije">Evidentiranja</a></li>  <!-- evidencije -->


                        <!-- Svi vide -->
                        <li class="scroll-to-section"><a href="#our-classes">Takmičenja</a></li>            <!-- info -->
                        <li class="scroll-to-section"><a href="#igraonica-klijent">Igraonica</a></li>            <!-- info -->

                        <div *ngIf="!jeUlogovan()">
                            <li class="main-button"><a [routerLink]="['/login']">Prijavljivanje</a></li>
                        </div>
                        <div *ngIf="jeUlogovan()">
                            <li class="main-button"><a href="#">Odjavi se</a></li>
                        </div>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>