<!--<h1 id = "paket1">Paket BASICx12</h1>-->
<div>
    <h1 id = "naslov">ADVANCEDx12</h1>
    <div id = "div_opis">
      <p>Paket ADVANCEDx12 obuhvata 9 termina u kojima možete koristiti usluge teretane + do 30 minuta kardio programa i 3 termina fitnesa sa intstrukturom, u maloj grupi.
      Uz ovaj paket moguće je SAMOSTALNO VEŽBANJE + FITNES U GRUPI ili PERSONALNI TRENING + FITNES U GRUPI. Trajanje ovog paketa je mesec dana.
      <em>Parking mesto Vam je obezbeđeno!</em>
      </p>
      <p id="p_cena">Cena paketa: 3200,00 dinara
      </p>
    </div>
  </div>
  
  <div class="flex-container">
    <button [routerLink]="['/kupovina_paketa']" class="btn btn-primary btn-block btn_clr" type="submit">Kupi paket</button>
  </div>
              