<div class="container cta-content register">
    <form class="my-2 col-lg-10 offset-lg-2">
      <div class="row center">
        <form >
            <h3>Registruj se:</h3>
            <div class="row">
                <div class="form-group col-lg-5"  style="margin-left: 40px;">
                    <label for="username">Korisničko ime</label>
                    <input
                      type="text"
                      name="username"
                      id="username"
                      class="form-control"
                      placeholder="Korisničko ime*" 
                    />
                </div>
                <div class="form-group col-lg-5" style="margin-left: 20px;">
                    <label for="password">Lozinka</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      placeholder="Lozinka*" 
                    />
                  </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-5"  style="margin-left: 40px;">
                    <label for="ime">Ime</label>
                    <input
                      type="text"
                      name="ime"
                      id="ime"
                      class="form-control"
                      placeholder="Vaše ime" 
                    />
                </div>
                <div class="form-group col-lg-5" style="margin-left: 20px;">
                    <label for="prezime">Prezime</label>
                    <input
                      type="prezime"
                      name="prezime"
                      id="prezime"
                      class="form-control"
                      placeholder="Vaše prezime" 
                    />
                  </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-10" style="margin-left: 50px;">
                    <label for="email">Mail</label>
                    <input
                      type="text"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="example@example.com*" 
                    />
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary btn-block form-group col-lg-4" 
                style="background-color: #ed563b; border-color: #ee4f32; color: white; height: 40px; margin: auto; width: 50%;; margin-top: 40px;" 
                type="submit" [routerLink]="['']">Registruj se</button>
            </div>

  
        </form>
  
      </div>
    </form>
  </div>