<!-- ***** Call to Action Start ***** -->
<section class="section" id="treninzi">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Korisnikovi <em>Treninzi</em></h2>
                    <p>Kupovinom Naše članarine, odmah postajete deo i Našeg Kluba, koji vam omogućava specijalne popuste kod naših partnera na veliki broj proizvoda i usluga za bolji, zdraviji i aktivniji način života</p>
                    <div class="main-button scroll-to-section">
                        <a [routerLink]="['/login']">Postani član</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->