<!-- Raspored -->
<section class="section" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Raspored <em>Treninga</em></h2>
                    <img src="line-dec.png" alt="">
                    <p>‘Success usually comes to those who are too busy to be looking for it.’<br><br>

                        — Henry David Thoreau, poet and philosopher</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1" style="margin-bottom: 30px;" *ngIf="nijeSelektovanTermin()">
                <div class="schedule-table filtering">
                    <div *ngIf="jeUlogovanTrener()">
                        <table>
                            <tbody>
                                <tr style="color: #ed563b; border: 1px solid #ed563b;">
                                    <td class="monday ts-item show" *ngIf="!jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="prikaziNoviTrening()">Zakaži grupni trening</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="brisiTrening()">Otkaži grupni trening</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="prikaziMenjajTrening()">Ažuriranje termina</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="prikaziSala()">Ažuriranje sale</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="prikaziKorisnici()">Ažuriranje broja korisnika</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="listajLjude()">Prikaži prijavljene korisnike</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="jeUlogovanPersonalniTrener()">
                        <table>
                            <tbody>
                                <tr style="color: #ed563b; border: 1px solid #ed563b;">
                                    <td class="monday ts-item show" *ngIf="!jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="prikaziNoviPersonalniTrening()">Zakaži personalni trening</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="brisiTrening()">Otkaži personalni trening</td>
                                    <td class="monday ts-item show" *ngIf="jeZakazanTermin()" style="color: #ed563b; border: 1px solid #ed563b;" (click)="prikaziPrijavljenogKorisnika()">Prikaži prijavljenog korisnika</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="margin-top: 10px;" *ngIf="jePrikaziNoviTrening()">

                    <form [formGroup]="noviTreningForma"  (ngSubmit)="zakaziTrening()">
                        <div class="row" >
                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="noviDan">Dan</label>
                                <input
                                type="text"
                                name="noviDan"
                                id="noviDan"
                                class="form-control"
                                placeholder="ponedeljak" 
                                />
                            </div>

                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="pocetakTreninga">Početak</label>
                                <input
                                type="text"
                                name="pocetakTreninga"
                                id="pocetakTreninga"
                                class="form-control"
                                placeholder="10:00AM" 
                                />
                            </div>

                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="zavrsetakTreninga">Kraj</label>
                                <input
                                type="text"
                                name="zavrsetakTreninga"
                                id="zavrsetakTreninga"
                                class="form-control"
                                placeholder="12:00AM" 
                                />
                            </div>

                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="noviBrojKorisnika">Broj korisnika</label>
                                <input
                                type="text"
                                name="noviBrojKorisnika"
                                id="noviBrojKorisnika"
                                class="form-control"
                                placeholder="25" 
                                />
                            </div>

                        </div>

                        <div class="row" >
                            <div class="form-group col-lg-6">
                                <label style="color: #ed563b;" for="novaSala">Izaberi salu</label>
                                <input
                                type="text"
                                name="novaSala"
                                id="novaSala"
                                class="form-control"
                                placeholder="sala 1"
                                list="sale1"
                                />
                                <datalist id="sale1">
                                    <option *ngFor="let sala of listaSala" value="{{sala}}">
                                </datalist>
                            </div>

                            <button
                                class="btn col-lg-3"
                                type="submit"
                                style="background-color: #ed563b; color: white; height: 40px; margin-top: 26px;"
                                >
                                Sačuvaj
                            </button>
                        </div>

                    </form>

                </div>

                <div style="margin-top: 10px;" *ngIf="jePrikaziNoviPersonalniTrening()">
                    <div class="row" >
                        <div class="form-group col-lg-3">
                            <label style="color: #ed563b;" for="dan">Lokacija</label>
                            <input
                            type="text"
                            name="dan"
                            id="dan"
                            class="form-control"
                            placeholder="Teretana1" 
                            />
                        </div>
                        <div class="form-group col-lg-3">
                            <label style="color: #ed563b;" for="dan">Dan</label>
                            <input
                            type="text"
                            name="dan"
                            id="dan"
                            class="form-control"
                            placeholder="Ponedeljak" 
                            />
                        </div>
                        <div class="form-group col-lg-3">
                            <label style="color: #ed563b;" for="pocetak">Početak</label>
                            <input
                            type="text"
                            name="pocetak"
                            id="pocetak"
                            class="form-control"
                            placeholder="10:00AM" 
                            />
                        </div>
                        <div class="form-group col-lg-3">
                            <label style="color: #ed563b;" for="kraj">Kraj</label>
                            <input
                            type="text"
                            name="kraj"
                            id="kraj"
                            class="form-control"
                            placeholder="3:00PM" 
                            />
                        </div>
                        
                    </div>

                    <div class="row">
                        <button class="btn col-lg-3" name="sacuvaj" id="sacuvaj" 
                                style="background-color: #ed563b; color: white; height: 40px; margin-top: 26px;" 
                                >Sačuvaj</button>
                    </div>
                </div>

                <div style="margin-top: 10px;" *ngIf="jePrikaziMenjajTrening()">


                    <form [formGroup]="azurirajVremeForma"  (ngSubmit)="azuriranjeVremenaTreninga()">
                        <div class="row" >
                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="azurirajDan">Dan</label>
                                <input
                                type="text"
                                name="azurirajDan"
                                id="azurirajDan"
                                class="form-control"
                                placeholder="ponedeljak" 
                                />
                            </div>

                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="azurirajPocetak">Početak</label>
                                <input
                                type="text"
                                name="azurirajPocetak"
                                id="azurirajPocetak"
                                class="form-control"
                                placeholder="10:00AM" 
                                />
                            </div>

                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="azurirajKraj">Kraj</label>
                                <input
                                type="text"
                                name="azurirajKraj"
                                id="azurirajKraj"
                                class="form-control"
                                placeholder="12:00AM" 
                                />
                            </div>

                            <button
                                class="btn col-lg-3"
                                type="submit"
                                style="background-color: #ed563b; color: white; height: 40px; margin-top: 26px;"
                                >
                                Sačuvaj
                            </button>

                        </div>

                    </form>

                </div>

                <div style="margin-top: 10px;" *ngIf="jePrikaziSala()">
                    <form [formGroup]="azurirajSaluForma"  (ngSubmit)="azuriranjeSale()">
                        <div class="row">
                            <div class="form-group col-lg-6">
                            <label style="color: #ed563b;" for="izaberiSalu">Izaberi salu</label>
                            <input
                            type="text"
                            name="izaberiSalu"
                            id="izaberiSalu"
                            class="form-control"
                            list="sale"
                            #sala
                            />
                            <datalist id="sale">
                                <option *ngFor="let sala of listaSala" value="{{sala}}">
                            </datalist>
                            <button
                                class="btn col-lg-3"
                                type="submit"
                                style="background-color: #ed563b; color: white; height: 40px; margin-top: 26px;"
                                >
                                Sačuvaj
                            </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div style="margin-top: 10px;" *ngIf="jePrikaziKorisnici()">
                    <form [formGroup]="azurirajBrojKorisnikaForma"  (ngSubmit)="azuriranjeKorisnika()">
                        <div class="row" >
                            <div class="form-group col-lg-3">
                                <label style="color: #ed563b;" for="brojKorisnika">Broj korisnika</label>
                                <input
                                type="text"
                                name="brojKorisnika"
                                id="brojKorisnika"
                                class="form-control"
                                placeholder="25" 
                                />
                            </div>

                            <button
                                class="btn col-lg-3"
                                type="submit"
                                style="background-color: #ed563b; color: white; height: 40px; margin-top: 26px;"
                                >
                                Sačuvaj
                            </button>
                        </div>

                    </form>
                    
                </div>

                <div style="margin-top: 10px;" *ngIf="jeListanjeLjudi()">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label style="color: #ed563b;" for="sala">Svi ljudi:</label>

                            <div style=" border: 1px solid white ; color: white; height: 30px; margin-top: 26px; padding-top: 3px;"
                                *ngFor="let osoba of listaKorisnika; index as i;">
                                {{i+1}}. {{osoba}}
                            </div>
                        </div>

                        <button class="btn col-lg-3" name="sacuvaj" id="sacuvaj" style="background-color: #ed563b; color: white; height: 40px; margin-top: 40px; margin-left: 50px;">Preuzmi pdf</button>
                    </div>
                </div>

                
                <div style="margin-top: 10px;" *ngIf="jePrikazivanjePrijavljenogKorisnika()">
                    <div class="row">
                        <div class="form-group col-lg-6">

                            <div *ngIf="jeSlobodanPersonalniTermin()" style=" border: 1px solid white ; color: white; height: 30px; margin-top: 26px; padding-top: 3px;">
                                Termin je slobodan.
                            </div>

                            <div *ngIf="jePopunjenPersonalniTermin()" style=" border: 1px solid white ; color: white; height: 30px; margin-top: 26px; padding-top: 3px;">
                                Na trening je prijavljen {{klijentPrijavljenNaPersonalni}}.
                            </div>

                        </div>

                    </div>
                </div>


            </div>

            <div class="col-lg-12">
                <div class="filters">
                    <ul class="schedule-filter">
                        <li (click)="izaberiPonedeljak()">Ponedeljak</li>
                        <li (click)="izaberiUtorak()">Utorak</li>
                        <li (click)="izaberiSredu()">Sreda</li>
                        <li (click)="izaberiCetvrtak()">Četvrtak</li>
                        <li (click)="izaberiPetak()">Petak</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="schedule-table filtering">
                    <table>
                        <tbody>
                            <tr>
                                <td class="day-time">Vrsta treninga</td>
                                <td class="monday ts-item show">Prepodnevni termin</td>
                                <td class="monday ts-item show">Popodnevni termin</td>
                                <td class="monday ts-item show">predvecernji termin</td>
                            </tr>
                            <tr>
                                <td class="day-time">Fitnes</td>
                                <td class="monday ts-item show" (click)="selektujTermin(0)">{{listaTermina[0]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(1)">{{listaTermina[1]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(2)">{{listaTermina[2]}}</td>
                            </tr>
                            <tr>
                                <td class="day-time">Boks</td>
                                <td class="monday ts-item show" (click)="selektujTermin(3)">{{listaTermina[3]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(4)">{{listaTermina[4]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(5)">{{listaTermina[5]}}</td>
                            </tr>
                            <tr>
                                <td class="monday day-time">Body Building</td>
                                <td class="monday ts-item show" (click)="selektujTermin(6)">{{listaTermina[6]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(7)">{{listaTermina[7]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(8)">{{listaTermina[8]}}</td>
                            </tr>
                            <tr>
                                <td class="monday day-time">Yoga</td>
                                <td class="monday ts-item show" (click)="selektujTermin(9)">{{listaTermina[9]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(10)">{{listaTermina[10]}}</td>
                                <td class="monday ts-item show" (click)="selektujTermin(11)">{{listaTermina[11]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="../assets/js/custom.js"></script>

