<!-- Paket PSx12 -->
<div id = "spoljasnji">
  <div class="opis">
    <img src="ps_igraonica_pozadina_30.jpg" alt="Table Setting" width="100%" style="opacity: 1;">
  </div>

  <div class="opis" id="opis_cena">
    <div>
      <h1>Paket PS IGRAONICA x 30</h1>
      <p style = "font-size: 120%;">Paket obuhvata 30 termina korišćenja usluga igraonice, u periodu od 09:00 do 22:00. Parking mesto je obezbeđeno!</p>
      <p style = "font-size: 120%;">Uslov: za decu stariju od 7 godina.</p>
      <p id="cena">Cena paketa: 7000,00 dinara</p>
    </div>

    <div class="flex-container"> <!--Za button class = "btn btn-primary btn-block btn_stil"-->
     <button [routerLink]="['/kupovina_paketa']" id = "btn_kupi" type="submit" style = "font-size: 120%;">Kupi paket</button>
    </div>
  </div>
</div>