<section class="section" id="kreiranje_takmicenja">
    <div class="container cta-content login">
        <p> Ukoliko želite da pošaljete obaveštenje o novom takmičenju unesite poruku i izaberite koga želite da obavestite.</p>
        <textarea rows=15 cols=75></textarea>
        <div style="padding-right: 10px;">
            <input type="checkbox">
            <label>Klijenti</label>
        </div>
        <div style="padding-right: 10px;">
            <input type="checkbox">
            <label>Treneri</label>
        </div>

        <button class="btn btn-secondary" (click)="posaljiObavestenje()">Pošalji obaveštenje</button>
        <button class="btn btn-secondary" (click)="preskociObavestenje()">Preskoči</button>
    </div>
  
</section>