@import "../assets/css/font-awesome.css";
@import "../assets/css/templatemo-training-studio.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.section {
    /*background-image: url('../assets/images/programi_pozadina.jpg');*/
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
}

.feature-item {
    width: 80%;
}

/*
.feature-item:hover {
    background-color: white;
}
*/

img {
    width: 20%;
}

.section-heading {
    width: 100%;
}

#naslov {
    font-size: 200%;
    color: rgb(61, 61, 61);
    font-weight: 400;
    line-height: normal;
}

#glavni_naslov > em {
    color: red;
}

span {
    font-weight: 800;
}