<!--<h1 id = "paket1">Paket BASICx12</h1>-->
<div>
  <h1 id = "naslov">PROx12</h1>
  <div id = "div_opis">
    <p>Paket PROx12 obuhvata 12 termina u kojima možete koristiti usluge teretane + NEOGRANIČEN KARDIO.
    Uz ovaj paket moguće je SAMOSTALNO VEŽBANJE ili PERSONALNI TRENING. Trajanje ovog paketa je mesec dana.
    <em>Parking mesto Vam je obezbeđeno!</em>
    </p>
    <p id="p_cena">Cena paketa: 3500,00 dinara
    </p>
  </div>
</div>

<div class="flex-container">
  <button class="btn btn-primary btn-block btn_clr" type="submit">Kupi paket</button>
</div>
            