<app-pocetna></app-pocetna>

<div *ngIf="!jeUlogovan()">
    <app-programi></app-programi>
    <app-promo-deo></app-promo-deo>
    <app-info></app-info>

</div>


<div *ngIf="jeUlogovanAdministrator()">
    <app-administracija></app-administracija>
    <app-licence></app-licence>
</div>

<div *ngIf="jeUlogovanKlijent()">
    <app-programi></app-programi>
    <app-treninzi></app-treninzi>
    <app-licence></app-licence>
</div>

<div *ngIf="jeUlogovanTrener()" >
    <app-raspored></app-raspored>
</div>

<div *ngIf="jeUlogovanRecepcioner()">
    <app-treninzi></app-treninzi>
    <app-licence></app-licence>
    <app-evidencije></app-evidencije>

</div>

<!-- Svi vide neku verziju ovoga -->
<app-takmicenja></app-takmicenja>
<app-igraonica></app-igraonica>

<!-- Jovana: sledeca linija koda je prebacena ovde
    kako bih mogla da nastavim da radim na ovom delu.
    Zakomentarisati po potrebi. -->
<app-programi></app-programi>
<app-igraonica_ponude></app-igraonica_ponude>



