<app-pocetna></app-pocetna>

<div *ngIf="!jeUlogovan()">
    <app-programi></app-programi>
    <app-promo-deo></app-promo-deo>
    <app-info></app-info>

</div>


<div *ngIf="jeUlogovanAdministrator()">
    <app-administracija></app-administracija>
    <app-licenca></app-licenca>
</div>

<div *ngIf="jeUlogovanKlijent()">
    <app-programi></app-programi>
    <app-treninzi></app-treninzi>
    <app-licenca></app-licenca>
</div>

<div *ngIf="jeUlogovanTrener()" >
    <app-raspored></app-raspored>
</div>

<div *ngIf="jeUlogovanRecepcioner()">
    <app-treninzi></app-treninzi>
    <app-licenca></app-licenca>
    <app-evidencije></app-evidencije>

</div>

<!-- Svi vide neku verziju ovoga -->
<app-takmicenja></app-takmicenja>
<app-igraonica></app-igraonica>

