<app-pocetna></app-pocetna>

<div *ngIf="!jeUlogovan()">
    <app-programi></app-programi>
    <app-promo-deo></app-promo-deo>
    <app-igraonica_ponude></app-igraonica_ponude>
</div>


<div *ngIf="jeUlogovanAdministrator()">
    <app-administracija></app-administracija>
    <app-licence></app-licence>
    <app-igraonica_ponude></app-igraonica_ponude>
</div>

<div *ngIf="jeUlogovanKlijent()">
    <app-programi></app-programi>
    <app-treninzi></app-treninzi>
    <app-licence></app-licence>
    <app-igraonica_ponude></app-igraonica_ponude>
</div>

<div *ngIf="jeUlogovanTrener()" >
    <app-raspored></app-raspored>
    <app-igraonica_ponude></app-igraonica_ponude> <!-- da li treneru treba igraonica?-->
</div>

<div *ngIf="jeUlogovanPersonalniTrener()" >
    <app-raspored></app-raspored>
    <app-igraonica_ponude></app-igraonica_ponude> <!-- da li treneru treba igraonica?-->
</div>

<div *ngIf="jeUlogovanRecepcioner()">
    <app-treninzi></app-treninzi>
    <app-licence></app-licence>
    <app-evidencije></app-evidencije>
    <app-igraonica></app-igraonica>

</div>

<!-- Svi vide neku verziju ovoga -->
<app-takmicenja></app-takmicenja>

<!-- Ne brisati ovaj komentar. -->
<app-programi></app-programi>
<app-treneri></app-treneri>
<app-igraonica_ponude></app-igraonica_ponude>

<div *ngIf="!jeUlogovan()">
    <app-info></app-info>
</div>
