<!-- ***** Features Item Start ***** -->
<section class="section" id="features">

    <!-- TERETANA -->

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Izaberite <em>Program</em></h2>
                    <img src="line-dec.png" alt="waves">
                    <p>Sistem teretana organizuje više od 10 različitih treninga u preko 20 termina nedeljno na svim lokacijama.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>BASICx12</h4>
                            <p> 6 termina teretane i 6 termina fitnesa - obezbedjen parking</p>
                            <a href="#paket1" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>ADVANCEx12</h4>
                            <p>9 termina teretane + do 30 minuta kardio programa i 3 termina fitnesa - obezbedjen parking</p>
                            <a href="#proba" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="third gym training">
                        </div>
                        <div class="right-content">
                            <h4>PROx12</h4>
                            <p>12 termina teretane + neograničen kardio program - obezbedjen parking </p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>BASICx30</h4>
                            <p>15 termina teretane i 15 termina fitnesa - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>ADVANCEDx30</h4>
                            <p>20 termina teretane + do 30 minuta kardio programa i 10 termina fitnesa - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="gym training">
                        </div>
                        <div class="right-content">
                            <h4>PROx30</h4>
                            <p>30 termina teretane + neograničen kardio program - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- IGRAONICA -->

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Izaberite <em>ponudu</em></h2>
                    <img src="line-dec.png" alt="waves">
                    <p> Preko 20 igraonica na više od 10 različitih lokacija. Svaka igraonica je adekvatno uređena i prostire se na više od 500 metara kvadratnih! </p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>DEČJA IGRAONICA x 12</h4>
                            <p> 12 termina igraonice - u bilo kom periodu od 08:00 do 19:00 - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>DEČJA IGRAONICA x 30</h4>
                            <p>30 termina igraonice - u bilo kom periodu od 08:00 do 19:00 - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>PS IGRAONICA x 12</h4>
                            <p>12 termina igraonice - u bilo kom periodu od 08:00 do 22:00 - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="features-first-icon.png" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>PS IGRAONICA x 30</h4>
                            <p> 30 termina igraonice - u bilo kom periodu od 08:00 do 22:00 - obezbedjen parking</p>
                            <a href="#" class="text-button">Pročitaj više...</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>



















</section>
<!-- ***** Features Item End ***** -->
