@import "../assets/css/font-awesome.css";
@import "../assets/css/templatemo-training-studio.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.section {
    background-image: url('../assets/images/programi_pozadina.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.feature-item {
    background-color: rgba(255, 99, 71, 0.342);
    width: 80%;
}