<section class="section" id="licence">
    <div class="container">
        <br><br><br><br><br><br>

        <div *ngIf="jeUlogovanAdministrator()">
            <!-- <form [formGroup]="brojKlijenataForm" (ngSubmit)="azurirajBrojKlijenata(brojKlijenataForm.value)">
                <label>Unesite broj klijenata koji su polagali ispit: </label>
                <input type="number" formControlName="broj" class="form-control">
                <button type="submit" class="main-rounded-button btn btn-primary"><a>Pošalji</a></button>
            </form>
            <br><br><br> -->
            
            <form [formGroup]="unosRezultataForm" (ngSubmit)="posaljiRezultate(unosRezultataForm.value)">
                <label>Unesite potrebne informacije za svakog prijavljenog klijenta:</label>
                <br>
                <!-- <div *ngFor="let formControlName of formControlNames">
                    <label>
                    Ime:<input type="text" formControlName=formControlName.ime class="form-control">
                    Prezime:<input type="text" formControlName=formControlName.prezime class="form-control">
                    Broj clanske karte:<input type="text" formControlName=formControlName.brClanskeKarte class="form-control">
                    Ocena:<input type="text" formControlName=formControlName.ocena class="form-control">
                    Licenca:<input type="text" formControlName=formControlName.izdataLicenca class="form-control" placeholder="izdata/nije izdata">
                    </label> -->
                    <div *ngFor="let info of formInputInfos">
                        <label>
                        Ime i prezime: {{info.ime}} {{info.prezime}} <br> Broj članske karte: {{info.brClanskeKarte}}
                        <br>
                        Ocena: <input type="text" formControlName={{info.ocena}} class="form-control"> 
                        Licenca:<input type="text" formControlName={{info.izdataLicenca}} class="form-control" placeholder="izdata/nije izdata">
                        <br>
                        </label>
                    </div>
                
                <button type="submit" class="main-rounded-button btn btn-primary"><a>Pošalji</a></button>
            </form>
        </div>

    </div>
</section>